<!DOCTYPE html>
<html>
<head>
    <title>My Applications</title>
</head>

<body>

    <h1>My Job Applications</h1>

    <form method="GET">

    <input
        type="text"
        name="search"
        placeholder="Search company or role"
        value="{{ search }}"
    >

    <select name="status">

        <option value="">All Status</option>

        <option value="Applied"
            {% if status == "Applied" %}selected{% endif %}>
            Applied
        </option>

        <option value="Interview"
            {% if status == "Interview" %}selected{% endif %}>
            Interview
        </option>

        <option value="Selected"
            {% if status == "Selected" %}selected{% endif %}>
            Selected
        </option>

        <option value="Rejected"
            {% if status == "Rejected" %}selected{% endif %}>
            Rejected
        </option>

    </select>

    <button type="submit">Search</button>

</form>

<br>

    <table border="1">

        <tr>
            <th>Company</th>
            <th>Role</th>
            <th>Location</th>
            <th>Application Date</th>
            <th>Status</th>
            <th>Salary</th>
            <th>Source</th>
            <th>Action</th>
        </tr>

        {% for application in applications %}

        <tr>
            <td>{{ application.company }}</td>
            <td>{{ application.role }}</td>
            <td>{{ application.location }}</td>
            <td>{{ application.application_date }}</td>
            <td>{{ application.status }}</td>
            <td>{{ application.salary }}</td>
            <td>{{ application.source }}</td>
            <td>
    <a href="/edit-application/{{ application.id }}">Edit</a>

    <form method="POST"
          action="/delete-application/{{ application.id }}"
          style="display:inline;">

        <button type="submit">Delete</button>

    </form>
</td>
        </tr>

        {% endfor %}

    </table>

</body>
</html>